<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
<body>
<main>
    {{ partial "header.html" . }}
  <section>

      <h1>{{ .Title }}</h1>

      {{ if eq .Type "posts" }}
      <h1 itemprop="name headline">{{ .Title }}</h1>
      <p class="meta">
        <time itemprop="datePublished" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat " January 02, 2006" .Date }}</time>
      </p>
      {{ end }}

      {{ partial "toc.html" . }}

      <span itemprop="articleBody">
      {{ .Content }}
      </span>

    </section>
    {{ partial "footer.html" . }}
  </main>
</body>
</html>
